:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
