:host {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .search-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }

  tr.selected {
    background-color: rgba(73, 73, 73, 0.3) !important;
  }

}
