$black: #000000;
$white: #FFFFFF;
$grey-header: #d9d9d9;
$grey-row: #f2f2f2;
$font-stack: Tahoma, sans-serif;

:host ::ng-deep {
  .custom-table {
    display: table !important;
    width: 100%;
    border-collapse: collapse;
    font-family: $font-stack;

    .mat-mdc-header-row {
      display: table-row !important;
      background-color: $grey-header !important;
      height: 28px !important; 
    }

    .mat-mdc-header-cell {
      display: table-cell !important;
      color: $black !important;
      font-weight: bold;
      font-size: 12px;
      vertical-align: middle;
      
      border-right: 1px solid $black !important;
      border-bottom: 1px solid $black !important;
      padding: 0 8px !important;
      
      &:last-of-type {
        border-right: none !important;
      }
    }

    .mat-mdc-row {
      display: table-row !important;
      height: 24px !important;

      &:nth-of-type(odd) {
        background-color: $grey-row !important;
      }

      &:nth-of-type(even) {
        background-color: $white !important;
      }
      
      &:hover {
        background-color: #e6f7ff !important;
      }
    }

    .mat-mdc-cell {
      display: table-cell !important;
      font-size: 12px;
      color: $black;
      vertical-align: middle;
      
      border-right: 1px solid $black !important;
      border-bottom: 1px solid #ccc !important;
      padding: 0 8px !important;

      &:last-of-type {
        border-right: none !important;
      }
    }
  }
}

.date-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  
  .warning-icon {
    color: red;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}