:host {
  tr.selected {
    background-color: rgba(73, 73, 73, 0.3) !important;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  button {
    border: 2px gray solid;
  }

  .search-button {
    margin: 8px;
  }
}
