
  <h2 mat-dialog-title class="dialog-title">Author Information</h2>
  <mat-form-field>
    <mat-label>Authors</mat-label>
    <mat-select [(ngModel)]="selectedAuthor">
      @for (author of authors(); track author.id) {
        <mat-option [value]="author">{{author.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(selectedAuthor?.bio) {
  <p>ФИО: {{selectedAuthor.name}}</p>
  <p>Биография: {{selectedAuthor.bio}}</p>
  <p>Дата рождения: {{selectedAuthor.birth_date}}</p>
    @if (selectedAuthor.death_date) {
      <p>Дата смерти: {{selectedAuthor.death_date}}</p>
    }
  <a [href]="selectedAuthor.wikipedia">Википедия: {{selectedAuthor.wikipedia}}</a>
  }
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="closeDialog()">Close</button>
  </div>
